body {
  font-family: sans-serif;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

#root {
  display: flex;
  flex-direction: column;
}

.divOuter {
  height: 100vh;
  width: 100%;
}

.copybox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.App {
  height: 100vh;
  width: 100%;
}